# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
backend/logs/*
!backend/logs/.gitkeep

# Node
node_modules/
npm-debug.log*
yarn-error.log
.pnp
.pnp.js
build/
dist/
.next/

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
.cursor/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

